

body {
    background-image: url(../images/collage.jpeg);
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    font-family: "monsterrat", sans-serif;
    color: black;
    text-align: center;
}

.heading {
    color: whitesmoke;
    background-color: red;
    text-align: center;
    font-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
  
  .container {
position: absolute;
    width: 800px;
    max-width: 80%;
    height: 50%;
    background-color: whitesmoke;
    border-radius: 10px;
    align-items: center;
    font-size: x-large;
    font: bold;
    padding: 5%;
    background-position: center;
  }


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: large;
}

.btn:hover {
    border-color: white;
}

.btn.correct {
background-color: green;
}

.btn.wrong {
background-color: red;
color: white;
}

.start-btn, .next-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
 }
 
 .score-area {
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    max-width: 80%;
    background-color: whitesmoke;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
 


  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: whitesmoke;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
}

.social-networks i {
    font-size: 160%;
    padding: 1%;
    color: black;
}