

body {
    background-image: url(../images/collage.jpeg);
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    font-family: "monsterrat", sans-serif;
    color: black;
    text-align: center;
}

.heading {
    color: whitesmoke;
    background-color: red;
    text-align: center;
    position: fixed;
    font-size: 60px;
    top: 0;
    left: 0;
    right: 0;
}
  
  .container {
position: absolute;
    width: 800px;
    max-width: 80%;
    height: 50%;
    border-radius: 10px;
    align-items: center;
    font-size: x-large;
    font: bold;
    padding: 5%;
    background-position: center;
    color: white;
  }


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: large;
}

.btn:hover {
    border-color: white;
}

.btn.correct {
background-color: green;
color: white;
}

.btn.wrong {
background-color: red;
color: white;
}

.start-btn, .next-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
 }
 
 .score-area {
    background-color: black;
    display: none;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    max-width: 50%;
    padding: 10px;
    align-items: center;
    text-align: center;
    color: white;
  }
 
  #question-container {
    background-color: black;
  }


  footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: black;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

.social-networks i {
    font-size: 140%;
    color: white;
}


@media screen and (min-width: 0px) and (max-width: 480px) {

  .heading {
    font-size: large;
  }
   

    .container {
        margin-top: -100px;
        padding: 0;
    width: 80vw;
    height: 40vh;
    font-size: medium;
    }
 
    .score-area {
        margin-top: 100px;
        width: 80vw;
        height: 10vh;
        bottom: 100px;
        font-size: small;
        position: fixed;
     }

  footer {
    margin: 0;
    bottom: 0;
    position: fixed;
  }

}